$backgroundBlueGradient : linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$backgroundButton: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$buttonColor : #00F3BB;
$navColor : #0000EC;
$textColor : #060A24;