%desktopView {
  @media screen and (min-width: 500px) {
    nav {
      display: flex;
      width: 100%;
      .logo {
        position: flex;
        font-size: 26px;
        margin: 1% 0 0 7%;
      }
      .navDisplay {
        width: 100%;
        margin-top: 6px;
        text-align: right;
        ul {
          display: flex;
          justify-content: flex-end;
          flex-flow: row nowrap;
          width: 100%;
          margin: 1% 0 0 0;
          li {
            display: flex;
            flex-flow: column nowrap;
            background-color: white;
            width: 10%;
            a {
              padding: 3%;
              font-size: 16px;
              align-self: center;
              color: $textColor;
              text-decoration: none;
              &:hover{
                text-decoration: line-through;
                color: $buttonColor;
              }
              &:active{
                color: rgba(6,10,36,0.56);
              }
            }
          }
        }
        label {
          display: none;
          font-size: 26px;
          margin: 16px;
        }
        #toggle {
          display: none;
          &:checked + ul {
            display: flex;
          }
        }
      }
    }

    header {
      margin: 10% 5% 10% 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        margin: 0 0 0 13%;
        font-family: $titleFont;
        font-size: 64px;
        color: $textColor;
        letter-spacing: 0;
        line-height: 42px;
      }
      .through {
        text-decoration: line-through;
      }
      .bluedot {
        color: $navColor;
      }
      .commentHeader {
        margin: 5% 0 5% 13%;
        font-family: $commentsFont;
        font-size: 16px;
        color: $textColor;
        width: 50%;
        letter-spacing: 0;
        line-height: 24px;
      }
      .Desktop {
        display: flex;
      }
      .Mobile {
        display: none;
      }
      a {
        align-self: flex-start;
        text-decoration: none;
        color: $textColor;
        font-size: 18px;
        background-color: $buttonColor;
        padding: 1% 6% 1% 6%;
        margin-left: 13%;
        margin-bottom: 8%;
        &:hover {
          background-image: $backgroundButton;
          color: white;
        }
      }
    }

    .episodes {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      justify-content: center;
      align-content: center;
      padding: 1% 3.4% 15% 3.4%;
      .titleEpisodes {
        font-size: 48px;
        color: white;
        margin: 4% 0 4% 13%;
        letter-spacing: 0;
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        .episodeCard {
          padding: 2% 0 2% 2%;
          width: 45%;
        }
      }
    }

    .aboutUs {
      display: flex;
      flex-flow: row wrap;
      transform: translate(0, -30%);
      width: 100%;
      img {
        margin-left: 25%;
        width: 60%;
      }
      .aboutUsText {
        width: 40%;
        margin-top: 12%;
        letter-spacing: 0;
        line-height: 24px;
        h2 {
          font-family: $titleFont;
          font-size: 48px;
          color: $textColor;
          width: 100%;
          padding: 5% 5% 0 5%;
          letter-spacing: 0;
          line-height: 42px;
        }
        p {
          font-family: $commentsFont;
          color: $textColor;
          padding: 5% 5% 0 5%;
          letter-spacing: 0;
          line-height: 22px;
          font-size: 16px;
          width: 100%;
        }
      }
    }

    .guests {
      display: flex;
      flex-flow: row wrap;
      transform: translate(0, -20%);
      h2 {
        font-family: $titleFont;
        font-size: 48px;
        color: $textColor;
        letter-spacing: 0;
        line-height: 42px;
        margin-left: 5%;
        width: 100%;
      }
      img {
        width: 33.3%;
      }
    }

    .topics {
      transform: translate(0, -20%);
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      width: 100%;
      justify-content: center;
      h2 {
        width: 100%;
        font-family: $titleFont;
        font-size: 48px;
        color: $textColor;
        letter-spacing: 0;
        line-height: 42px;
        text-align: left;
        padding: 0 5% 7% 13%;
      }
      .groupsTopics{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 70%;
        .topicGroup{
          display: flex;
          flex-flow: column nowrap;
          label {
            font-family: $titleFont;
            font-size: 24px;
            color: $textColor;
            letter-spacing: 0;
            text-align: center;
            font-weight: bold;
            padding: 0 5% 10% 5%;
          }
        }
      }
    }

    .news {
      transform: translate(0, -20%);
      display: flex;
      flex-flow: column nowrap;
      background-image: $backgroundBlueGradient;
      width: 100%;
      section {
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        width: 100%;
        h2 {
          width: 100%;
          font-family: $titleFont;
          font-size: 48px;
          color: #ffffff;
          letter-spacing: 0;
          text-align: center;
          line-height: 42px;
          margin-top: 5%;
        }
        a {
          font-family: $commentsFont;
          font-size: 18px;
          color: $textColor;
          letter-spacing: 0;
          text-align: center;
          line-height: 22px;
          padding: 1%;
          background-color: $buttonColor;
          margin: 4% 35% 10% 35%;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            background-image: $backgroundButton;
            color: white;
          }
        }
      }
      svg {
        height: 6vh;
        width: 100%;
        transform: rotate(180deg);
      }
    }

    footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      width: 100%;
      height: 50px;
      //transform: translate(0, -60%);
      p {
        font-family: $commentsFont;
        font-size: 14px;
        color: $textColor;
        letter-spacing: 0;
        line-height: 22px;
        width: 30%;
        align-self: flex-start;
        margin: 0;
      }
      .icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        width: 50%;
        margin: 0;
        i {
          color: $textColor;
        }
      }
    }

    .paralelogram {
      display: flex;
      background-image: $backgroundBlueGradient;
      transform: skewY(-6deg);
      transform-origin: top left;
      section {
        display: flex;
        flex-flow: column nowrap;
        transform: skewY(6deg);
        transform-origin: top left;
        width: 100%;
      }
    }
  }
}
