@import "./fonts.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $comments-font;
  font-family: $title-font;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.logo {
  padding: 2px 0 0 2px;
  img {
    float: left;
  }
}

nav {
  border-bottom: 1px solid #eaeaeb;
  text-align: right;
  height: 7vh;
  line-height: 20px;
  ul {
    display: none;
    background-color: #0000ec;
  }
  li {
    list-style-type: none;
    text-align: left;
    padding: 2px 0 2px 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
  label {
    margin: 2% 2% 0 0;
    font-size: 26px;
    cursor: pointer;
  }
  #toggle {
    display: none;
    &:checked + ul {
      display: block;
      &::after + .toggleLabel {
        content: "heelo";
      }
    }
  }
}

@media only screen and(min-width: 426px) {
  nav {
    ul {
      display: block;
      background-color: white;
      z-index: 10;
    }
    li {
      display: inline;
      background-color: white;
      a {
        color: #060a24;
      }
    }
    label {
      display: none;
    }
  }
}

header {
  margin: 5% 5% 20% 5%;
  width: 90%;
  z-index: 5;
  .titulo {
    width: 100%;
    font-family: $title-font;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    z-index: 2;
  }
  .commentHeader {
    width: 100%;
    z-index: 2;
    font-family: $comments-font;
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
  }
  .btnMore {
    background-color: #00f3bb;
    font-family: $comments-font;
    align-items: center;
    width: 288px;
    height: 48px;
    font-size: 18px;
    color: #060a24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    &:hover {
      color: white;
      background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    }
  }
}

@media only screen and(min-width: 426px) {
  header {
    .titulo {
      padding-bottom: 3vh;
      font-size: 64px;
    }
    .commentHeader {
      padding: 2vh 0 3vh 0;
      width: 55%;
      font-size: 16px;
    }
  }
}

.episodios {
  width: 100%;
  .titleEpisodios {
    color: white;
    font-size: 36px;
    font-family: $title-font;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-bottom: 40%;
    li {
      list-style-type: none;
      width: 94%;
    }
  }
}

.paralelogram {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  position: relative;
  padding: 40px 0 40px 0;
  transform: skewY(-6deg);
  transform-origin: top left;
  section {
    position: relative;
    padding: 4%;
    transform: skewY(6deg);
    transform-origin: top left;
  }
}

@media only screen and(min-width: 426px) {
  .episodios {
    width: 100%;
    ul {
      li {
        width: 42%;
        padding: 2%;
      }
    }
  }
}

.aboutUs {
  position: relative;
  width: 90%;
  transform: translate(0, -20%);
  padding: 0% 5% 0 5%;
  margin: 0;
  .phoneImg {
    position: relative;
    width: 100%;
    img {
      width: 100%;
    }
  }
  h2 {
    font-family: $title-font;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
  }
  p {
    font-family: $comments-font;
    justify-content: left;
  }
}

.invitados{
    position: relative;
}
