@media screen and (min-width: 1070px) {
  body nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 1vh;
  }
  body nav .logo {
    position: flex;
    font-size: 26px;
    margin: 1% 0 0 7%;
  }
  body nav .navDisplay {
    width: 100%;
    margin-top: 6px;
    text-align: right;
  }
  body nav .navDisplay ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    margin: 1% 0 0 0;
  }
  body nav .navDisplay ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    background-color: white;
    width: 10%;
  }
  body nav .navDisplay ul li a {
    padding: 3%;
    font-size: 16px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: #060A24;
    text-decoration: none;
  }
  body nav .navDisplay ul li a:hover {
    text-decoration: line-through;
    color: #00F3BB;
  }
  body nav .navDisplay ul li a:active {
    color: rgba(6, 10, 36, 0.56);
  }
  body nav .navDisplay label {
    display: none;
    font-size: 26px;
    margin: 16px;
  }
  body nav .navDisplay #toggle {
    display: none;
  }
  body nav .navDisplay #toggle:checked + ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header {
    margin: 10% 5% 10% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body header h1 {
    margin: 0 0 0 13%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
  }
  body header .through {
    text-decoration: line-through;
  }
  body header .bluedot {
    color: #0000EC;
  }
  body header .commentHeader {
    margin: 5% 0 5% 13%;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #060A24;
    width: 50%;
    letter-spacing: 0;
    line-height: 24px;
  }
  body header .Desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .Mobile {
    display: none;
  }
  body header a {
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-decoration: none;
    color: #060A24;
    font-size: 18px;
    background-color: #00F3BB;
    padding: 1% 6% 1% 6%;
    margin-left: 13%;
    margin-bottom: 8%;
  }
  body header a:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
  }
  body .episodes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 1% 3.4% 15% 3.4%;
  }
  body .episodes .titleEpisodes {
    font-size: 48px;
    color: white;
    margin: 4% 0 4% 13%;
    letter-spacing: 0;
  }
  body .episodes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .episodes ul .episodeCard {
    padding: 2% 0 2% 2%;
    width: 45%;
  }
  body .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    width: 100%;
  }
  body .aboutUs img {
    margin-left: 25%;
    width: 60%;
  }
  body .aboutUs .aboutUsText {
    width: 40%;
    margin-top: 12%;
    letter-spacing: 0;
    line-height: 24px;
  }
  body .aboutUs .aboutUsText h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: #060A24;
    width: 100%;
    padding: 5% 5% 0 5%;
    letter-spacing: 0;
    line-height: 42px;
  }
  body .aboutUs .aboutUsText p {
    font-family: "IBM Plex Mono", monospace;
    color: #060A24;
    padding: 5% 5% 0 5%;
    letter-spacing: 0;
    line-height: 22px;
    font-size: 16px;
    width: 100%;
  }
  body .guests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }
  body .guests h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin-left: 5%;
    width: 100%;
  }
  body .guests img {
    width: 33.3%;
  }
  body .topics {
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    text-align: center;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .topics h2 {
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    text-align: left;
    padding: 0 5% 7% 13%;
  }
  body .topics .groupsTopics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 70%;
  }
  body .topics .groupsTopics .topicGroup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  body .topics .groupsTopics .topicGroup label {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
    padding: 0 5% 10% 5%;
  }
  body .news {
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    width: 100%;
  }
  body .news section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
  body .news section h2 {
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    margin-top: 5%;
  }
  body .news section a {
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    padding: 1%;
    background-color: #00F3BB;
    margin: 4% 35% 10% 35%;
    text-decoration: none;
    font-weight: bold;
  }
  body .news section a:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
  }
  body .news svg {
    height: 6vh;
    width: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  body footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 50px;
  }
  body footer p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    width: 30%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
  }
  body footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50%;
    margin: 0;
  }
  body footer .icons i {
    color: #060A24;
  }
  body .paralelogram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  body .paralelogram section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-transform: skewY(6deg);
            transform: skewY(6deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

li {
  list-style-type: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1000;
  top: 0;
}

nav .logo {
  position: absolute;
  font-size: 26px;
  margin: 10px 0 0 16px;
}

nav .navDisplay {
  width: 100%;
  margin-top: 6px;
  text-align: right;
}

nav .navDisplay ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2% 0 0 0;
}

nav .navDisplay ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0000EC;
  width: 100%;
}

nav .navDisplay ul li a {
  padding: 3%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: white;
  text-decoration: none;
}

nav .navDisplay label {
  font-size: 26px;
  margin: 16px;
}

nav .navDisplay #toggle {
  display: none;
}

nav .navDisplay #toggle:checked + ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  margin: 10% 5% 10% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
}

header .through {
  text-decoration: line-through;
}

header .bluedot {
  color: #0000EC;
}

header .commentHeader {
  margin: 5% 0 5% 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

header .Desktop {
  display: none;
}

header a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: #060A24;
  font-size: 18px;
  background-color: #00F3BB;
  padding: 4% 30% 4% 30%;
  margin-bottom: 15%;
}

header a:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

.episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 15% 3.4% 40% 3.4%;
}

.episodes .titleEpisodes {
  font-size: 36px;
  color: white;
  margin: 4% 0 4% 0;
}

.episodes ul .episodeCard {
  padding: 2% 0 2% 0;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transform: translate(0, -15%);
          transform: translate(0, -15%);
  width: 100%;
}

.aboutUs img {
  width: 100%;
}

.aboutUs h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  width: 90%;
  padding: 0 5% 0 5%;
  letter-spacing: 0;
  line-height: 42px;
}

.aboutUs p {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  padding: 0 5% 0 5%;
  letter-spacing: 0;
  line-height: 22px;
  font-size: 14px;
}

.guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transform: translate(0, -5%);
          transform: translate(0, -5%);
}

.guests h2 {
  padding: 5%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

.guests img {
  width: 100%;
}

.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  width: 100%;
  margin-bottom: 20%;
}

.topics h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  text-align: left;
  padding: 0 5% 7% 5%;
}

.topics .groupsTopics .topicGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.topics .groupsTopics .topicGroup label {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  font-weight: bold;
  padding: 0 5% 10% 5%;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  width: 100%;
}

.news section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.news section h2 {
  width: 90%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  margin-top: 15%;
}

.news section a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  padding: 3% 0 3% 0;
  background-color: #00F3BB;
  margin: 15% 5% 15% 5%;
  text-decoration: none;
  font-weight: bold;
}

.news section a:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

.news svg {
  height: 6vh;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 10%;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 90%;
  margin: 10% 0 10% 0;
}

footer .icons i {
  color: #060A24;
}

.paralelogram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.paralelogram section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */