@import "./_fonts.scss";
@import "./_palette.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $titleFont;
  box-sizing: border-box;
}

body {
  width: 100vw;
}
li {
  list-style-type: none;
}

nav {
  display: flex;
  width: 100%;
  .logo {
    position: absolute;
    margin: 10px 0 0 16px;
  }
  .navDisplay {
    width: 100%;
    margin-top: 6px;
    text-align: right;
    ul {
      display: none;
      flex-direction: column;
      margin: 2% 0 0 0;
      li {
        display: flex;
        background-color: $navColor;
        width: 100%;
        a {
          padding: 3%;
          align-self: flex-start;
          color: white;
          text-decoration: none;
        }
      }
    }
    label {
      font-size: 20px;
      margin: 16px;
    }
    #toggle {
      display: none;
      &:checked + ul {
        display: flex;
      }
    }
  }
}

header {
  margin: 10% 5% 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1{
  font-family: $titleFont;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  }
  .through {
    text-decoration: line-through;
  }
  .bluedot {
    color: $navColor;
  }
  .commentHeader{
    margin: 5% 0 5% 0;
    font-family: $commentsFont;
  }
  a{
    align-self: center;
    text-decoration: none;
    color: $textColor;
    font-size: 18px;
    background-color: $buttonColor;
    padding: 4% 30% 4% 30%;
    &:hover{
      background-image: $backgroundButton;
      color: white;
    }
  }
}



.paralelogram{
  display: flex;
  background-image: $backgroundBlueGradient;
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
  }}
